# Telegram bot API token
BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
# Database user password
DATABASE_PASSWORD=password
# Database port
DATABASE_PORT=5432
# Database username
DATABASE_USER=postgres
# Connection URL for database server. If you call it from docker, it's necessary to replace "localhost" with "db".
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@localhost:${DATABASE_PORT}/${DATABASE_USER}
# Redis host. If you call it from docker, it's necessary to replace "localhost" with "cache".
REDIS_HOST=localhost
# Redis password
REDIS_PASSWORD=password
# Redis port
REDIS_PORT=6379
# Telegram bot webhook domain if it's necessary to use webhooks (optional)
# WEBHOOK_DOMAIN="example.com"
# Telegram bot webhook path if it's necessary to use with webhooks (optional)
# WEBHOOK_PATH="/chat-adviser-bot"
# Telegram bot webhook port if it's necessary to use with webhooks (optional)
# WEBHOOK_PORT=3001
# Secret token to be sent back in Telegram webhook header for security (optional)
# WEBHOOK_SECRET_TOKEN=fykbox-Pitny7-zemnuq
