{
  "env": {
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/strict-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked",
    "plugin:typescript-sort-keys/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:jsdoc/recommended-error",
    "plugin:promise/recommended",
    "plugin:security/recommended-legacy",
    "plugin:sonarjs/recommended-legacy",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "tsconfigRootDir": "."
  },
  "plugins": [
    "@typescript-eslint",
    "jest",
    "jsdoc",
    "optimize-regex",
    "promise",
    "simple-import-sort",
    "sonarjs",
    "typescript-sort-keys"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/consistent-type-assertions": ["error", { "assertionStyle": "never" }],
    "@typescript-eslint/consistent-type-imports": ["error", { "fixStyle": "inline-type-imports" }],
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true,
        "allowHigherOrderFunctions": false,
        "allowTypedFunctionExpressions": true
      }
    ],
    "@typescript-eslint/explicit-member-accessibility": "error",
    "@typescript-eslint/member-ordering": "error",
    "@typescript-eslint/naming-convention": [
      "error",
      { "format": ["StrictPascalCase", "UPPER_CASE", "strictCamelCase"], "selector": "default" },
      { "format": ["StrictPascalCase", "UPPER_CASE"], "selector": "enumMember" },
      { "format": null, "selector": "property" },
      { "format": ["StrictPascalCase"], "selector": "typeLike" },
      {
        "format": ["StrictPascalCase"],
        "prefix": ["can", "did", "has", "is", "should", "will"],
        "selector": "variable",
        "types": ["boolean"]
      },
      { "format": null, "selector": "import" }
    ],
    // Disabled due to NestJS specifics
    "@typescript-eslint/no-extraneous-class": "off",
    "@typescript-eslint/no-import-type-side-effects": "error",
    // Allow Image as it's Next.js component
    "@typescript-eslint/no-shadow":  ["error", { "allow": ["Image"], "builtinGlobals": true }],
    "@typescript-eslint/no-unsafe-enum-comparison": "off",
    "curly": "error",
    "default-case": "error",
    "eqeqeq": "error",
    "guard-for-in": "error",
    "import/no-cycle": "error",
    "import/no-deprecated": "error",
    "import/no-mutable-exports": "error",
    "import/no-named-as-default": "error",
    "import/no-named-as-default-member": "error",
    "import/no-unresolved": "off",
    "jest/consistent-test-it": "error",
    "jest/max-nested-describe": ["error", { "max": 1 }],
    "jsdoc/require-jsdoc": [
      "error",
      {
        "publicOnly": false,
        "require": {
          "ArrowFunctionExpression": true,
          "FunctionDeclaration": true,
          "FunctionExpression": true,
          "MethodDefinition": true
        }
      }
    ],
    "jsdoc/require-description": "error",
    "jsdoc/require-param-type": "off",
    "jsdoc/require-returns-type": "off",
    "max-len": ["error", { "code": 120 }],
    "max-params": "error",
    "multiline-comment-style": ["error", "starred-block"],
    "no-alert": "error",
    "no-console": "error",
    "no-invalid-this": "error",
    "no-multi-str": "error",
    "no-nested-ternary": "error",
    "no-new": "error",
    "no-restricted-syntax": ["error", {
      "message": "Must not use this in a static context.",
      "selector": "MethodDefinition[static = true] ThisExpression"
    }],
    "no-throw-literal": "error",
    "one-var": ["error", "never"],
    "radix": "error",
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          // Side effect imports
          ["^\\u0000"],
          // Node.js builtins prefixed with `node:`
          ["^node:"],
          // Packages. Things that start with a letter (or digit or underscore), or `@` followed by a letter.
          ["^@?\\w"],
          // Folders of this repo
          ["^(__mocks__|fixtures|src|test)(/.*|$)"],
          // Anything not matched in another group
          ["^"],
          // Relative imports
          ["^\\."]
        ]
      }
    ],
    "sort-keys": "error"
  }
}
