{
  "rules": {
    "import/no-default-export": "off", // k6 uses default export
    "@typescript-eslint/naming-convention": [
      "error",
      { "format": ["UPPER_CASE", "strictCamelCase"], "selector": "default" },
      { "format": ["UPPER_CASE"], "selector": "enumMember" },
      // Ignore properties because of i18next, prisma and telegraf typings.
      { "format": null, "selector": "property" },
      { "format": ["StrictPascalCase"], "selector": "typeLike" },
      { "format": ["UPPER_CASE", "strictCamelCase"], "selector": "variableLike" },
      {
        "format": ["StrictPascalCase"],
        "prefix": ["can", "did", "has", "is", "should", "will"],
        "selector": "variable",
        "types": ["boolean"]
      },
      // Ignore object literal methods because of k6 check specifics
      { "format": null, "selector": "objectLiteralMethod" }
    ]
  }
}
